.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #212429;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  color: #9f51d3;
}

h2 {
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
  color: #9f51d3;
}

p {
  font-size: 2rem;
  color: #9f51d3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 50%;
  display: inline-block;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
